.mode {
  background-color: #fc9;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 18px;
  top: 18px;
  cursor: pointer;
  transition: 0.25s;
}

.mode:hover {
  background-color: rgb(255, 180, 105);
  width: 34px;
  height: 34px;
}

.mode img {
  width: 24px;
  height: 24px;
}

.container_modes {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  cursor: default;
}
