.container_set_project_modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
