.container_home {
  padding: 2rem;
}

.content_profile {
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_home > h3 {
  color: var(--neutral-color-opacity-70);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.25px;
  margin-bottom: 16px;
}

.content_projects {
  max-width: 2500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .container_home {
    padding: 2rem 1.25rem;
    max-width: 100vw;
  }

  .content_profile {
    padding: 1rem;
    padding-bottom: 2.5rem;
  }

  .content_projects {
    max-width: 100vw;
  }
}
