.first_card_container {
  color: var(--neutral-color);
  border-radius: 4px;
  width: 450px;
  height: 258px;
  flex-shrink: 0;
  background-color: #e6e9f2;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 68px 80px;
  cursor: pointer;
}

.first_card_container h3 {
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.5px;
  margin: 16px 0;
}

.first_card_container p {
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.25px;
}

@media screen and (max-width: 768px) {
  .first_card_container {
    width: 100%;
    padding: 5rem 3rem;
  }
}
