.container_set_project_modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-modal);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--white);
  width: 890px;
  height: 522px;
  animation: animationModal 0.5s ease-out;
  
  padding: 24px 32px;
  
}

.modal > h1 {
  margin-bottom: 24px;
}

.container {
  display: flex;
  margin-bottom: 16px;
}

.image {
  width: 413px;
  height: 336px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.image button {
  width: 389px;
  height: 304px;
  
}
.image input {
  display: none;
}





.buttons{
  margin-top: 16px;
  display: flex;
  
  font-size: 15px;
  
  
}

.buttons button {
  padding: 8px 22px;

}

.salvar {
  border-radius: var(--borderRadius, 4px);
  background: #F52;
  color: white;
  border: 0;
}

.cancelar {
  margin-left: 2px;
  border-radius: var(--borderRadius, 4px);
  background: var(--action-disabledBackground, rgba(0, 0, 0, 0.12));
  border: 0;
}


.form {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 413px;
  height: 336px;
  
}



@keyframes animationModal {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
