.container_set_project_modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-modal);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--white);
  width: 890px;
  height: 522px;
  animation: animationModal 0.5s ease-out;

  padding: 24px 32px;
}

.modal > h1 {
  margin-bottom: 24px;
  color: var(--Neutral-Colors-Neutral-110, #515255);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.container {
  display: flex;
 
}

.image {
  width: 413px;
  height: 336px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type="file"] {
  display: none;
}

.image > p {
  color: var(--Neutral-Colors-Neutral-110, #515255);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.15px;
}

.uploudImage {
  width: 389px;
  height: 304px;
  background: var(--Neutral-Colors-Neutral-70, #e6e9f2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.uploudImage img {
  width: 38.333px;
  height: 38.333px;
  flex-shrink: 0;
}

.uploudImage label {
  width: 270px;
  color: var(--Neutral-Colors-Neutral-120, #303133);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.25px;
  
  cursor: pointer;
  
}


.buttons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  display: flex;
  font-size: 15px;
}

.buttons button {
  padding: 8px 22px;
}

.salvar {
  border-radius: var(--borderRadius, 4px);
  background: #f52;
  color: white;
  border: 0;
}

.cancelar {
  margin-left: 2px;
  border-radius: var(--borderRadius, 4px);
  background: var(--action-disabledBackground, rgba(0, 0, 0, 0.12));
  border: 0;
  cursor: pointer;
}

.visualizar {
  color: var(--Neutral-Colors-Neutral-110, #515255);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
  letter-spacing: 0.15px;
}

@keyframes animationModal {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
