.input_container {
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 0 12px;
  border: var(--border);
  border-radius: 4px;
  position: relative;
  margin-bottom: 1rem;
  max-width: 520px;
}

.input_container label {
  color: var(--neutral-color);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  transition: 0.3s;
}

.input_container .up {
  background-color: var(--white);
  font-size: 12px;
  opacity: 1;
  padding: 0 5px;
  letter-spacing: 0.4px;
  line-height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(1rem, -50%);
}

.input_container input {
  color: var(--text-primary, rgba(0, 0, 0, 0.87));
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  padding: 16px 0;
  width: 100%;
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
  border: none;
  outline: none;
}


