.input_container {
  flex: 1;
  width: 100%;
  padding: 0 12px;
  border: var(--border);
  border-radius: 4px;
  position: relative;
  margin-bottom: 1rem;
}

.input_container label {
  background-color: var(--white);
  color: var(--neutral-color);

  font-size: 12px;
  letter-spacing: 0.4px;
  display: block;
  padding: 0 5px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(1rem, -50%);
}

.input_container input {
  color: var(--neutral-color-strong);
  padding: 16px 0;
  width: 100%;
  border: none;
  outline: none;
}
