.container_header {
  display: flex;
  background-color: #111133;
  width: 100%;
  height: 73px;
  padding: 16px 30px;
  justify-content: space-between;
  position: relative;
}

.sidebar {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  animation: sidebar-slide 0.25s linear;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 250px;
  max-width: 80vw;
  border-radius: 4px;
  box-shadow: 0 0 10px #000;
}

.menusidebar {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.25rem 1rem 1.25rem;
  border-bottom: 2px solid var(--neutral-color-weak);
}

.information_user {
  padding: 1.5rem 1.25rem;
  border-bottom: 2px solid var(--neutral-color-weak);
}

.information_user h4 {
  color: #111133;
  font-size: 18px;
  font-weight: 400;
}

.information_user h5 {
  color: var(--neutral-color);
  font-size: 14px;
  font-weight: 400;
}

.linksidebar {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  width: 100%;
  color: #111133;
}

.linksidebar:not(.linksidebar:last-child) {
  margin-bottom: 1rem;
}

.exitSideBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1.25rem;
}

.exitSideBar svg {
  font-size: 24px;
  color: var(--neutral-color);
  margin-right: 0.5rem;
}

.menuLogo {
  display: flex;
}

.menuList {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  width: auto;
  margin-left: 100px;
  gap: 24px;
}

.link {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  width: 130px;
  text-decoration: none;
  color: white;
  transition: 0.25s;
  text-align: center;
}

.link:hover {
  color: var(--orange);
  border-bottom: 1px solid var(--orange);
  padding-bottom: 0.25em;
}

.perfil {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.perfilImg {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}

.subnav {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50px;
  height: 50px;

  align-items: center;
}

.exit {
  text-decoration: none;
  color: var(--Color-Brand-Primria-Primary-90, #224);
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 40px;
  display: none;
  text-align: center;
  width: 100px;
  border: var(--border);
  transition: 0.25s;
}

.exit:hover {
  background-color: #ff5522;
  color: white;
}

.subnav:hover .exit {
  display: inline;
}

@keyframes sidebar-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .menuList {
    display: inline;
    width: 24px;
    margin: 8px;
  }

  .sidebar {
    left: 0;
    display: inline-block;
  }

  .menu {
    display: none;
  }

  .subnav:hover .exit {
    display: none;
  }

  .perfilImg {
    cursor: default;
  }
}
