@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-font: "Roboto", sans-serif;
  --border: 1px solid rgba(0, 0, 0, 0.23);
  --bg-modal: rgba(0, 0, 0, 0.2);
  --white: #fff;
  --orange: #f52;
  --neutral-color-opacity: #0b0c0d83;
  --neutral-color-opacity-70: rgba(15, 15, 15, 0.65);
  --neutral-color-strong: #303133;
  --neutral-color: #515255;
  --neutral-color-weak: #818388;
  --text-color-blue: #224;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

body {
  margin: 0;
  font-family: var(--main-font), BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
